*.jou
*.log
*.str
*.xpr
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.gen/
*.data/
*.tmp/
*.backup/
*.dcp
*.bit
*.bin
*.ltx
*.rpt
*.pb
*.wdb
*.vcd
*.saif

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo
